:root {
    --color-ingreso: #8B0000;
    --color-editar: #8B0000;
    --color-listado: #8B0000;
    --color-titulo: #8B0000;
}
body {
    background-image: url('https://assets.isu.pub/document-structure/231005155434-da94a7ed3cd3feaac2cbe5b7b4bacc8e/v1/d6f81d05b8bcaf0dcc09bd9ead5f15d7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% px;
    background-attachment: fixed;      /* 🔥 hace que NO se mueva ni deforme */
}

/* La caja principal con el borde rojo */
.custom-card {
    border-top: 5px solid var(--color-titulo);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    
}
.custom-card-title {
    color: var(--color-titulo);
    font-weight: 600;
    font-size: 28px;
    
}
/* Botones de menú personalizados */
.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    height: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}
.menu-button:hover {
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.menu-button .icon-wrapper {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
/* Asignar colores de las imágenes */
#btn-ingreso { background-color: var(--color-ingreso); }
#btn-ingreso:hover { color: #333; }
#btn-editar { background-color: var(--color-editar); }
#btn-editar:hover { color: #333; }
#btn-listado { background-color: var(--color-listado); }
#btn-listado:hover { color: #333; }